<% provide(:blog, "active") %>

<div class="container custom-blog-container">

      <%= render 'header' %>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <h2>Listing all articles</h2>
          <%= link_to "New article", new_article_path, class: "btn btn-primary" %>
          <hr>
             
          <%= render 'articles', obj: @articles %>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <%= render 'sidebar' %>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

