<div class="container">
  <div class="row">
    <div class="col col-sm-8">
      <h2>Welcome to <%= @user.username %>'s Page</h2><hr>
        
      <h4 align="center">
        <%= render 'articles/articles', obj: @user.articles %>
      </h4>
    </div>
    
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
         <%= render 'sidebar' %>
      </div>
    </div><!-- /.blog-sidebar -->
  </div>

</div>