<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
      <div class="footer-custom">
        <p>Copyright 2106 SCED, All rights reserved</p>
      </div>

  </div>
</nav>