html {
    background-color: #dacea4;
}

nav, .navbar, .navbar-default {
    background-color: #dacea4;
}

.row {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.footer-custom {
    padding-top: 5px;
    font-size: 75%;
    text-align: center;
}

.custom-form {
    color: #000;
    font-size: 70%;
}