html {
    background-color: #e5dcbf;
}

nav, .navbar, .navbar-default {
    background-color: #e5dcbf;
}

.row {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.footer-custom {
    padding-top: 5px;
    font-size: 75%;
    text-align: center;
}