<div class="container">
  <h2><%= @category.name %> category listings</h2><hr>
    <div class="row">
      <div class="col col-sm-8">
        <%= render 'articles/articles', obj: @category_articles %>
      </div>
    </div>
</div>